<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mutal Fund Report</title>
    <style>
        table {
          border: 0px solid white;
          border-collapse: collapse;
          width: 100%;
        }
        th {
          border: 1px solid white;
          background-color: #96D4D4;
        }
        td {
          border: 1px solid white;
          background-color: #F0F0F0;
        }
        th, td {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }

    </style>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
            window.onload = function () {

                var dps = [
                    {% for row in view_fund.fundList %}
                        {% if (row.get_percentile() < 0) %}
                            { y: {{ row.get_profitLoss() }}, label: "{{ row.get_fundInfo().get_mfName() }}", color: "red" },
                        {% else %}
                            { y: {{ row.get_profitLoss() }}, label: "{{ row.get_fundInfo().get_mfName() }}" },
                        {% endif %}
                    {% endfor %}
                ];

                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    theme: "light2",
                    indexLabelFontSize: 10,
                    title:{
                        text: "Portfolio Profit",
                        fontSize: 14,
                    },
                    axisY: {
                        title: "Profit (INR)",
                        scaleBreaks: {
                            autoCalculate: false
                        }
                    },
                    data: [{
                        type: "column",
                        showInLegend: true,
		                legendMarkerColor: "grey",
                        legendText: "Profit = INR",
                        dataPoints: dps
                    }]
                });
                chart.render();

                var allocation_dps = [
                            {% for row in view_fund.fundList %}
                                { y: {{ row.get_purchaseValue() }}, name : "{{ row.get_fundInfo().get_mfName() }}", improvement: "{{ row.get_percentile() }}",  exploded: true },
                            {% endfor %}
                ];

                var chart = new CanvasJS.Chart("chartAllocation", {
                    exportEnabled: true,
                    animationEnabled: true,
                    theme: "light2",
                    indexLabelFontSize: 14,
                    title:{
                        text: "Portfolio Allocation",
                        fontSize: 14,
                    },
                    legend:{
                        cursor: "pointer",
                        itemclick: explodePie
                    },
                    axisY: {
                        title: "Profit (INR)",
                        scaleBreaks: {
                            autoCalculate: true
                        }
                    },
                    data: [{
                        type: "doughnut",
                        showInLegend: true,
                        toolTipContent: "{name}: <strong>{y}₹</strong><br />Growth: {improvement}%",
                        indexLabel: "{name} - ₹ {y}",
                        dataPoints: allocation_dps
                    }]
                });
                chart.render();
        }

        function explodePie (e) {
            if(typeof (e.dataSeries.dataPoints[e.dataPointIndex].exploded) === "undefined" || !e.dataSeries.dataPoints[e.dataPointIndex].exploded) {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = true;
            } else {
                e.dataSeries.dataPoints[e.dataPointIndex].exploded = false;
            }
            e.chart.render();

        }
    </script>
</head>
<body>

{% if view_fund %}
<h1>Mutal Fund Info</h1>

<table>
    <tr>
        <td valign="top">
            <table>
                <tr>
                    <th style="width: 50%">Debt Fund Investment</th>
                    <td style="width: 50%">{{ view_fund['totalInvestment'] }}</td>
                </tr>
                <tr>
                    <th>Total Profit</th>
                    <td>{{ view_fund.get_totalProfit() }}</td>
                </tr>
                <tr>
                    <th>Overall Improvement %</th>
                    {% if (view_fund.get_totalPercentile() < 0) %}
                        <td style="color: red;">{{ view_fund.get_totalPercentile() }} %</td>
                    {% else %}
                        <td style="color: blue;">{{ view_fund.get_totalPercentile() }} %</td>
                    {% endif %}
                </tr>
            </table>
        </td>

        <td valign="top">
            <table>
                <tr>
                    <th style="width: 50%">Equity Fund Investment</th>
                    <td style="width: 50%">{{ view_fund.get_eqInvestment() }}</td>
                </tr>
                <tr>
                    <th>Total Profit</th>
                    <td>{{ view_fund.get_eqProfit() }}</td>
                </tr>
                <tr>
                    <th>Overall Improvement %</th>
                    {% if (view_fund.get_eqPercentile() < 0) %}
                        <td style="color: red;">{{ view_fund.get_eqPercentile() }} %</td>
                    {% else %}
                        <td style="color: blue;">{{ view_fund.get_eqPercentile() }} %</td>
                    {% endif %}
                </tr>
            </table>
        </td>
    </tr>

</table>

<br/>
<br/>

<table>
    <tr>
        <td valign="top">
            <div id="chartContainer" style="height: 400px; width: 100%;"></div>
        </td>
        <td valign="top">
            <div id="chartAllocation" style="height: 400px; width: 100%;"></div>
        </td>
    </tr>
</table>

    <br />
    <br />

    {% if view_fund.fundList %}
        <table>
            <tr>
                <th>MF_NAME</th>
                <th>NAV</th>
                <th>As On</th>
                <th>Purchase Value</th>
                <th>Profit/Loss</th>
                <th>Percentage</th>
                <th>Last Updated</th>
            </tr>
            {% for row in view_fund.fundList %}
            <tr>
                {% if row.noOfFunds > 1 %}
                    <td><a href="/dev/funds/{{ row.get_userId() }}/history/{{ row.get_fundInfo().get_mfId() }}/sip">{{ row.get_fundInfo().get_mfName() }}</a></td>
                {% else %}
                    <td><a href="/dev/funds/{{ row.get_userId() }}/history/{{ row.get_fundInfo().get_mfId() }}/date/{{ row.get_dateCreated() }}">{{ row.get_fundInfo().get_mfName() }}</a></td>
                    <!--<td><a href="/dev/funds/{{ row.get_userId() }}/history/{{ row.get_fundInfo().get_mfId() }}/date/{{ row.get_dateCreated() }}">{{ row.get_fundInfo().get_mfName() }}</a></td>-->
                {% endif %}

                <td>{{ row.get_fundInfo().get_nav() }}</td>
                <td>{{ row.get_fundInfo().get_asOn() }}</td>
                <td>{{ row.get_purchaseValue() }}</td>

                {% if (row.get_percentile() < 0) %}
                    <td style="color: red;">{{ row.get_profitLoss() }}</td>
                    <td style="color: red;">{{ row.get_percentile() }} %</td>
                {% else %}
                    <td style="color: blue;">{{ row.get_profitLoss() }}</td>
                    <td style="color: blue;">{{ row.get_percentile() }} %</td>
                {% endif %}

                <td>{{ row.get_dateModified() }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}


{% else %}
  <h1>No Fund info found !</h1>
{% endif %}

</body>
</html>