<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mutal Fund Report</title>
    <style>
        table, th, td {
          border: 1px solid white
          border-collapse: collapse
          border-color: #96D4D4
        }
        th {
          background-color: #96D4D4
        }
        td {
          background-color: #F0F0F0
        }
        th, td {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
    </style>
</head>
<body>

{% if f_list %}
<h1>Mutal Fund Info</h1>
    <table>
        <tr>
            <th>MF_NAME</th>
            <th>NAV</th>
            <th>As On</th>
            <th>Purchase Value</th>
            <th>Profit/Loss</th>
            <th>Percentage</th>
            <th>Last Updated</th>
        </tr>
        {% for row in f_list %}
        <tr>
            <td>{{ row['mfName'] }}</td>
            <td>{{ row.get_nav() }}</td>
            <td>{{ row.get_asOn() }}</td>
            <td>{{ row.get_purchaseValue() }}</td>
            <td>{{ row.get_profitLoss() }}</td>

            {% if (row.get_percentile() < 0) %}
                <td style="color: red;">{{ row.get_percentile() }} %</td>
            {% else %}
                <td style="color: blue;">{{ row.get_percentile() }} %</td>
            {% endif %}

            <td>{{ row.get_dateModified() }}</td>
        </tr>
        {% endfor %}
    </table>

{% else %}
  <h1>No Fund info found !</h1>
{% endif %}

</body>
</html>