<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mutal Fund Report</title>
    <style>
        table {
          border: 1px solid white;
          border-collapse: collapse;
          width: 100%;
        }
        th {
          border: 1px solid white;
          background-color: #96D4D4;
        }
        td {
          border: 1px solid white;
          background-color: #F0F0F0;
        }
        th, td {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
    </style>
</head>
<body>

{% if view_fund %}
<h1>Mutal Fund Info</h1>
    <table style="width: 70%;">
        <tr>
            <th style="width: 50%">Total Investment</th>
            <td style="width: 50%">{{ view_fund['totalInvestment'] }}</td>
        </tr>
        <tr>
            <th>Total Profit</th>
            <td>{{ view_fund.get_totalProfit() }}</td>
        </tr>
        <tr>
            <th>Overall Improvement %</th>
            {% if (view_fund.get_totalPercentile() < 0) %}
                <td style="color: red;">{{ view_fund.get_totalPercentile() }}</td>
            {% else %}
                <td style="color: blue;">{{ view_fund.get_totalPercentile() }} %</td>
            {% endif %}
        </tr>
    </table>

    <br />
    <br />

    {% if view_fund.fundList %}
        <table>
            <tr>
                <th>MF_NAME</th>
                <th>NAV</th>
                <th>As On</th>
                <th>Purchase Value</th>
                <th>Profit/Loss</th>
                <th>Percentage</th>
                <th>Last Updated</th>
            </tr>
            {% for row in view_fund.fundList %}
            <tr>
                <td><a href="/dev/history/{{ row.get_mfId() }}">{{ row['mfName'] }}</a></td>
                <td>{{ row.get_nav() }}</td>
                <td>{{ row.get_asOn() }}</td>
                <td>{{ row.get_purchaseValue() }}</td>
                <td>{{ row.get_profitLoss() }}</td>

                {% if (row.get_percentile() < 0) %}
                    <td style="color: red;">{{ row.get_percentile() }} %</td>
                {% else %}
                    <td style="color: blue;">{{ row.get_percentile() }} %</td>
                {% endif %}

                <td>{{ row.get_dateModified() }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

{% else %}
  <h1>No Fund info found !</h1>
{% endif %}

</body>
</html>