<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{{ view_history.userFund.get_fundInfo().get_mfName() }}</title>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script type="text/javascript">
            window.onload = function () {

                var dps = [
                            {% for row in view_history.historyList %}
                                { x: new Date( {{ row.asonyear }}, {{ row.asonmonth }}, {{ row.asonday }} ), y: {{ row.get_nav() }} },
                            {% endfor %}
                ];
                var title = "{{ view_history.userFund.get_fundInfo().get_mfName() }}";

                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    title:{
                        text: title
                    },
                    axisX:{
                        title: "As On",
                        valueFormatString: "DD MMM"
                    },
                    axisY: {
                        title: "NAV",
                        scaleBreaks: {
                            autoCalculate: true
                        }
                    },
                    data: [{
                        type: "line",
                        xValueFormatString: "DD MMM",
                        color: "#F08080",
                        dataPoints: dps
                    }]
                });
                chart.render();

        }
        </script>
        <style type="text/css">
        </style>
    </head>
    <body>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    </body>
</html>
