<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Mutal Fund History</title>
    <style>
        table {
          border: 1px solid white;
          border-collapse: collapse;
          width: 100%;
        }
        th {
          border: 1px solid white;
          background-color: #96D4D4;
        }
        td {
          border: 1px solid white;
          background-color: #F0F0F0;
        }
        th, td {
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 10px;
          padding-right: 10px;
        }
    </style>
    <script type="text/javascript">
            window.onload = function () {

                var dps = [
                            {% for row in view_history.sortedList %}
                                { x: new Date( {{ row.asonyear }}, {{ row.asonmonth }}, {{ row.asonday }} ), y: {{ row.get_nav() }} },
                            {% endfor %}
                ];
                var fundname = "{{ view_history.userFund.get_fundInfo().get_mfName() }}";

                var line_color = "#6B9E21";
                {% if (view_history.get_navDiff() < 0) %}
                    line_color = "#F08080";
                {% endif %}

                var chart = new CanvasJS.Chart("chartContainer", {
                    animationEnabled: true,
                    zoomEnabled: false,
                    indexLabelFontSize: 14,
                    title:{
                        text: "Nav Change Per Day",
                        fontSize: 16,
                    },
                    axisX:{
                        title: "As On",
                        valueFormatString: "DD MMM"
                    },
                    axisY: {
                        title: "Nav (INR)",
                        scaleBreaks: {
                            autoCalculate: true
                        }
                    },
                    data: [{
                        type: "line",
                        name: fundname,
                        xValueFormatString: "DD MMM",
                        color: line_color,
                        dataPoints: dps
                    }]
                });
                chart.render();

        }
    </script>
</head>
<body>

{% if view_history %}

<h1>{{ view_history.userFund.get_fundInfo().get_mfName() }}</h1>

    {% if view_history.userFund %}
        <table style="width: 70%;">
            <tr>
                <th>Purchase Date</th>
                <td>{{ view_history.userFund.get_dateCreated() }}</td>
            </tr>
            <tr>
                <th>Purchase Nav</th>
                <td>{{ view_history.userFund.get_purchaseNav() }}
                    {% if (view_history.get_navDiff() < 0) %}
                        <span style="color:red">( {{ view_history.get_navDiff() }} changed since )</span>
                    {% else %}
                        <span style="color:blue">( {{ view_history.get_navDiff() }} changed since )</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th style="width: 50%">Purchase Value</th>
                <td style="width: 50%">{{ view_history.userFund.get_purchaseValue() }}   <span style="color:blue">( {{ view_history.userFund.get_actualValue() }} ** )</span></td>
            </tr>
            <tr>
                <th>Units</th>
                <td>{{ view_history.userFund.get_units() }}</td>
            </tr>
            <tr>
                <th>Current Value</th>
                <td>{{ view_history.userFund.get_latestValue() }}</td>
            </tr>
            <tr>
                <th>Profit/Loss</th>
                <td>{{ view_history.userFund.get_profitLoss() }}   <span style="color:blue">( {{ view_history.userFund.get_noOfDays() }} days )</span></td>
            </tr>
            <tr>
                <th>Improvement</th>
                {% if (view_history.userFund.get_percentile() < 0) %}
                    <td style="color: red;">{{ view_history.userFund.get_percentile() }} %</td>
                {% else %}
                    <td style="color: blue;">{{ view_history.userFund.get_percentile() }} %</td>
                {% endif %}
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ view_history.userFund.get_type() }}</td>
            </tr>
            <tr>
                <th>Last Updated Nav</th>
                <td>{{ view_history.userFund.fundInfo.get_lastUpdated() }}</td>
            </tr>
        </table>
    {% endif %}

    <br />
    ** Stamp Duty : <span style="color:blue">( {{ view_history.userFund.get_stampPercent() }} % )</span>
    <br />
    <br />

    <div id="chartContainer" style="height: 370px; width: 75%;"></div>

    <br />

    {% if view_history.historyList %}

        <table>
            <tr>
                <th>As On</th>
                <th>NAV</th>
                <th>Value AsOn</th>
                <th>Last Updated</th>
            </tr>
            {% for row in view_history.historyList %}
            <tr>
                <td>{{ row.get_asOn() }}</td>
                <td>{{ row.get_nav() }}</td>

                {% if (row.diffPrevAsOnValue < 0) %}
                    <td>{{ row.get_asOnValue() }} <span style="color: red;">( {{ row.diffPrevAsOnValue }} )</span></td>
                {% else %}
                    <td>{{ row.get_asOnValue() }} <span style="color: blue;">( {{ row.diffPrevAsOnValue }} )</span></td>
                {% endif %}

                <td>{{ row.get_lastUpdated() }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}

{% else %}
  <h1>No Fund History found !</h1>
{% endif %}

</body>
</html>